mat-card {
    width: 550px;
    height: 60vh;
    margin-top: 1%;
    &:first-child {
        margin-left: 10%;
    }
    margin-left: 0%;
    border-top-left-radius: 10cm;
}

mat-card-header {
    border: solid 1px black;
    border-top-left-radius: 10cm;
    border-top-right-radius: 10cm;
}

mat-card-content {
    border: solid 1px black;
    height: 40px;
    font-size: 20px;
    text-align: center;
    display: flow-root;
}

mat-card-footer {
    background-color: rgba(0, 128, 0, 0.486);
}


mat-icon {
    margin-top: 5px;
    height: 30px;
}

.MatIconDoneBt {
    margin-left: 10%;
    margin-top: 10%;
    height: 40px;
    width: 50px;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.MatIconDeleteBt {
    margin-left: 10%;
    margin-top: 10%;
    height: 40px;
    width: 50px;
    background-color: red;
    color: white;
    border-radius: 5px;
}


.mat-card-header1 {
    background-color: red;
}

.mat-card-header2 {
    background-color: green;

}

p {
    font-size: 14px;
    font-style: italic;
    color: red;
}

.maindiv {
    margin-left: 5%;
    display: flex;
}

.todoTimeAndtodoItem {
    display: flex;
}



.icobt-container {
    display: block;
    margin-top: 8%;
    margin-left: 1%;
}

.CreateTodoBt {
    margin-top: 2%;
    height: 46px;
    width: 70px;
    background-color: #f3f2f2a9;

}

.CreateNewTodoInput {
    height: 30px;
    width: 200px;
    display: block;

}

.CreateNewTodoInputs {
    margin-top: 40%;

}

.NewTodoForm {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(201, 159, 240);
    visibility: hidden;
}

.CreateNewTodo-container {
    margin-top: 5%;
    margin-left: 5%;
    display: block;
}

.todo {
    font-weight: bold;
    margin-left: 5px;
}

.mat-card-div {
    margin-left: 2%;
    text-align: center;
}

.addTodoBt {
    &:hover {
        background-color: rgb(151, 113, 113);

    }

    text-align: left;
    margin-left: 10%;
    margin-top: 2%;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 40px;
    border: solid 1px black;
    border-radius: 50%;
    color: black;
    background-color: rgb(161, 103, 103);
}




.TodoUpdateButtons {
    height: 50px;
    width: 100px;
    min-width: 100px;
    background-color: #ff4444a9;

}