mat-card {
    width: 600px;
    height: 60vh;
    margin-top: 1%;

    &:first-child {
        margin-left: 10%;
    }

    margin-left: 0%;
    border-top-left-radius: 10cm;
}


mat-icon{
    margin-top: 5px;
    height: 30px;
}
.MatIconDoneBt {
    margin-left: 10%;
    margin-top: 10%;
    height: 40px;
    width: 50px;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.MatIconDeleteBt {
    margin-left: 10%;
    margin-top: 10%;
    height: 40px;
    width: 50px;
    background-color: red;
    color: white;
    border-radius: 5px;
}

mat-card-header {
    border: solid 1px black;

    border-top-left-radius: 10cm;
    border-top-right-radius: 10cm;
}

.mat-card-header1 {
    background-color: red;
}

.mat-card-header2 {
    background-color: green;

}

p {
    font-size: 14px;
    font-style: italic;
    color: red;
}

.maindiv {
    margin-left: 5%;
    display: flex;
}

mat-card-content {
    border: solid 1px black;
    display: flow-root;
}
.todoTimeAndtodoItem{
    display: flex;
}



.icobt-container {
    display: block;
    margin-top: 8%;
    margin-left: 1%;
}

.CreateTodoBt {
    margin-top: 8%;
    height: 40px;
    width: 120px;
    min-width: 120px;
    background-color: #ff4444a9;

}

.CreateNewTodoInput {
    height: 30px;
    width: 200px;
    display: block;

}

.CreateNewTodoInputs {
    margin-top: 40%;
    background-color: rgba(115, 194, 226, 0.527);

}
.NewTodoForm{
    visibility: hidden;
}

.CreateNewTodo-container {
    margin-top: 5%;
    margin-left: 5%;
    display: block;
}

.todo{
    font-weight: bold;
    margin-left: 5px;
}
.mat-card-div{
    margin-left: 2%;
    text-align: center;
}
.addTodoBt{
    &:hover{
        background-color: rgb(151, 113, 113);
        
    }
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 40px;
    border: solid 1px black;
    border-radius: 50%;
    color: black;
    background-color: rgb(161, 103, 103);
}

.CheckBox{
    text-align: right;
}


.TodoUpdateButtons {
    margin-left: 18%;
    height: 50px;
    width: 100px;
    min-width: 100px;
    background-color: #ff4444a9;

}